<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Up Confirmation OTP</title>
  </head>
  <body>
    <p>Hello,</p>
    <p>Thank you for signing up with us!</p>
    <p>Please use the following OTP to confirm your email address:</p>
    <h2>{{otp}}</h2>
    <p>The OTP is valid for {{otpValidity}} minutes.</p>
    <p>If you did not sign up for our service, please ignore this email.</p>
    <p>Thank you,</p>
    <p>Nitoons</p>
  </body>
</html>